.aboutUsSection {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  max-width: 120rem;
  margin: 0 auto;
}

.aboutSection {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 2rem;
  align-items: center;
}

.textContent {
  max-width: 50rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.responsiveImage {
  width: 100%;
  height: 40rem;
  border-radius: 0.2rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-size: clamp(2.6rem, 2.6vw, 5rem);
  font-weight: 700;
  line-height: clamp(4.5rem, 4.5vw, 8.8rem);
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: clamp(2rem, 2vw, 4rem);
}

.sectionDescription {
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
  font-weight: clamp(400, 400, 500);
  line-height: clamp(2.4rem, 2.4vw, 3rem);
  letter-spacing: -0.30000001192092896px;
}

@media (max-width: 768px) {
  .aboutSection {
    grid-template-columns: unset;
  }

  .textContent {
    max-width: 100%;
  }

  .responsiveImage {
    height: clamp(30rem, 30vw, 50rem);
  }
}
