.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42rem;
  background-image: url("https://img.freepik.com/free-photo/selective-focus-design-architecture_273609-5607.jpg?uid=R174724058&ga=GA1.1.1991276647.1688005309&semt=ais_hybrid");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.heroContent {
  max-width: 120rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border-radius: 0.8rem;
  padding: clamp(1.5rem, 3vw, 2rem);
}

.title {
  font-size: clamp(2.6rem, 2.6vw, 5rem);
  font-weight: 700;
  line-height: clamp(4.5rem, 4.5vw, 8.8rem);
  letter-spacing: -0.02em;
  margin-bottom: 2rem;
  color: #fff;
}
