.detailsSection {
  background-color: #f9f9f9;
  padding: 2rem;
}

.detailsContainer {
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.propertyName {
  font-size: clamp(2.6rem, 2.6vw, 5rem);
  font-weight: 700;
  line-height: clamp(4.5rem, 4.5vw, 8.8rem);
  letter-spacing: -0.02em;
}

.propertyType {
  color: #555;
  font-size: clamp(1em, 1vw, 1.2rem);
  font-weight: 500;
  line-height: clamp(2.4rem, 2.4vw, 3rem);
  letter-spacing: -0.30000001192092896px;
  margin-bottom: 15px;
}

.location {
  display: grid;
  gap: 0.5rem;
  background-color: #3333;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
  font-weight: clamp(400, 400, 500);
  line-height: clamp(2.4rem, 2.4vw, 3rem);
  letter-spacing: -0.30000001192092896px;
}

.description,
.features {
  margin-top: 20px;
  background-color: #3333;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
  font-weight: clamp(400, 400, 500);
  line-height: clamp(2.4rem, 2.4vw, 3rem);
  letter-spacing: -0.30000001192092896px;
}

.description h2,
.features h2 {
  margin-bottom: 10px;
}

.features ul {
  padding-left: 20px;
}

.features li {
  margin-bottom: 5px;
}

.actionsContainer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: clamp(2rem, 3vw, 3rem);
}

@supports not (gap: 1rem) {
  .bookInspectionButton {
    margin-left: 1rem;
  }
}

.contactAgentButton,
.bookInspectionButton {
  padding: 0.75rem 1.5rem;
  font-size: clamp(1.6rem, 2vw, 3rem);
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #000;
  color: #fff;
  transition: background-color, color, 0.3s ease;
}

.bookInspectionButton {
  background-color: transparent;
  color: #000;
  outline: 0.1rem solid #000;
}

.bookInspectionButton:hover {
  background-color: #000;
  color: #fff;
}
