html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

main {
  display: block;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

img {
  border-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a,
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
  resize: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

textarea::-webkit-scrollbar {
  display: none;
}

button,
select {
  /* 1 */
  text-transform: none;
}

li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; 
} */

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

body {
  max-width: 144rem;
  overflow-x: hidden;
}
